<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="by.zheynov.socnet.dao.impl.UserDaoImpl" parent="abstractDao"/>


    <bean id="abstractDao" class="by.zheynov.socnet.dao.impl.AbstractBaseDAO" abstract="true">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="profileDao" class="by.zheynov.socnet.dao.impl.ProfileDaoImpl" parent="abstractDao"/>

    <bean id="userRoleDao" class="by.zheynov.socnet.dao.impl.UserRoleDaoImpl" parent="abstractDao"/>

    <bean id="friendDao" class="by.zheynov.socnet.dao.impl.FriendDaoImpl" parent="abstractDao"/>

    <bean id="messageDao" class="by.zheynov.socnet.dao.impl.MessageDAOImpl" parent="abstractDao"/>

    <bean id="dialogDao" class="by.zheynov.socnet.dao.impl.DialogDAOImpl" parent="abstractDao"/>


    <bean id="profileService" class="by.zheynov.socnet.service.impl.ProfileServiceImpl">
        <property name="profileDao" ref="profileDao"/>
        <property name="friendDao" ref="friendDao"/>
        <property name="messageSource" ref="messageSource"/>
    </bean>

    <bean id="userService" class="by.zheynov.socnet.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="profileDao" ref="profileDao"/>
        <property name="messageSource" ref="messageSource"/>
        <property name="userRoleDao" ref="userRoleDao"/>
        <property name="passwordEncoder" ref="bcryptEncoder"/>
    </bean>

    <bean id="userRoleService" class="by.zheynov.socnet.service.impl.UserRoleServiceImpl">
        <property name="userRoleDao" ref="userRoleDao"/>
        <property name="messageSource" ref="messageSource"/>
    </bean>

    <bean id="friendService" class="by.zheynov.socnet.service.impl.FriendServiceImpl">
        <property name="friendDao" ref="friendDao"/>
    </bean>

    <bean id="messageService" class="by.zheynov.socnet.service.impl.MessageServiceImpl">
        <property name="messageDao" ref="messageDao"/>
    </bean>

</beans>