<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


    <security:http auto-config="true" use-expressions="true">

        <security:intercept-url pattern="/loginpage*" access="isAnonymous()"/>
        <security:intercept-url pattern="/registration*" access="isAnonymous()"/>

        <security:intercept-url pattern="/**" access="isAuthenticated()"/>
        <security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>

        <security:form-login
                login-processing-url="/j_spring_security_check"
                login-page="/loginpage"
                default-target-url="/showAllUsers"
                always-use-default-target="true"
                authentication-failure-url="/loginpage?error"
                username-parameter="username"
                password-parameter="password"/>

        <security:logout logout-url="/j_spring_security_logout"
                         logout-success-url="/loginpage?logout"
                         invalidate-session="true"/>
        <security:access-denied-handler error-page="/403"/>

        <!-- enable csrf protection -->
        <security:csrf disabled="true"/>

    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:jdbc-user-service data-source-ref="dataSource"
                                        users-by-username-query=
                                                "SELECT username, password FROM users WHERE username=?"
                                        authorities-by-username-query=
                                                "SELECT username, role FROM user_roles WHERE username =?"/>
        </security:authentication-provider>
    </security:authentication-manager>

<!--    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="admin" password="1234567" authorities="ROLE_USER" />
                <security:user name="vadim" password="1234567" authorities="ROLE_ADMIN" />
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>-->






</beans>